.contact-section {
  padding: 2rem;
  max-width: 600px;
  margin: 0 auto;
}

.contact-section h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  color: #333;
}
.contact-form {
  background-color: #f8f9fa;
  padding: 2rem;
  border-radius: 1.5rem;
  box-shadow: 0 0 10 rgba(0, 0, 0, 0.1);
}

.contact-form .form-group {
  margin-bottom: 1rem;
}

.contact-form label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.contact-form textarea {
  height: 150px;
  resize: vertical;
}

.contact-form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #0069d9;
}

.form-errors p {
  color: #dc3545;
  margin: 0.5rem 0;
}

/* Override Bootstrap's .btn-primary styles */
.btn-primary {
  background-color: var(--tertiary-color) !important;
}

/* Optionally, set the hover and focus states to ensure consistency */
.btn-primary:hover {
  background-color: #66bb6a !important;
}
