/* Videos.css */

/* Container for the entire videos page */
.videos-page { 
    padding: 2rem;
    background-color: var(--background-color);
}

.videos-section {
    margin-top: 3rem;
}

/* Grid container for video cards */
.videos-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    animation: myAnim 0.75s ease 0s 1 normal forwards;
    max-width: 100%;
}

/* Media Query for Medium Screens (Tablets) */
@media (max-width: 768px) {
  .video-card {
    flex: 1 1 calc(50% - 1rem);  /* 2 items per row */
  }
}
  
/* Media Query for Small Screens (Mobile) */
@media (max-width: 480px) {
  .video-card {
    flex: 1 1 calc(100% - 1rem);  /* 1 item per row */
  }
}