.name-background {
  background-color: var(--primary-color);
}

.subtitle {
  color: var(--accent-color);
  font-size: 22px;
}

.custom-nav-list {
  display: flex;
  justify-content: center;
  width: 100%;
}

.fs-custom-h1 {
  font-size: 4rem;
}

.fs-custom-p {
  font-size: 1.5rem;
}
