/* General CTA Section */
.cta {
  background-color: var(--primary-color); /* primary color */
  color: #fff;
  text-align: center;
  padding: 50px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 50px;
}

.cta h2 {
  font-size: 3rem;
  color: var(--accent-color);
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 1);
}

.cta p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.cta button {
  background-color: var(--accent-color);
  color: var(--primary-color);
  font-size: 1.1rem;
  font-weight: 500;
  padding: 12px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
}

.cta button:hover {
  background-color: var(--muted-tertiary-color);
  color: #ecf0f1;
  transform: translateY(-2px);
}

.cta button:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--accent-color);
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  50% {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
}

.btn-pulse {
  animation: pulse 2.5s infinite;
}

@media (max-width: 768px) {
  .cta {
    margin: 30px;
  }
  .cta h2 {
    font-size: 2.5rem;
  }

  .cta p {
    font-size: 1.1rem;
    padding: 0 10px;
    margin-bottom: 40px;
  }
}