/* Services Section */
.services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 4rem 2rem;
    background: linear-gradient(135deg, black, white);
    color: var(--primary-color);
    text-align: center;
}

.services h2 {
    color: white;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 5rem;
    justify-content: center;
    justify-items: center;
}

/* Individual Service Card */
.service {
    background-color: var(--secondary-color);
    color: var(--background-color);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 10px 8px 18px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s, box-shadow 0.3s;
    background-image: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
}

.service:nth-child(odd) {
    transform: perspective(300px) rotateY(10deg);
}

.service:nth-child(even) {
    transform: perspective(300px) rotateY(-10deg);
}

.service:hover {
    transform: perspective(800px) rotateY(0deg);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.service.hovered {
    transform: perspective(800px) rotateY(0deg);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.service .icon {
    font-size: 3rem;
    color: var(--accent-color);
    margin-bottom: 1rem;
}

.service h3 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: var(--background-color);
}

.service p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: var(--background-color);
}

/* Responsive Adjustments */
@media (max-width: 480px) {
    .service h3 {
        font-size: 2.5rem;
    }
}


@media (max-width: 768px) {
    .services {
        padding: 4rem;
    }
    .service h3 {
        font-size: 2.5rem;
    }
}

@media (max-width: 992px) {
    .services {
        padding: 4rem;
    }
    .service h3 {
        font-size: 2.5rem;
    }
}