:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary-color: #17486c;
  --secondary-color: #44769e;
  --tertiary-color: #4caf50;
  --muted-tertiary-color: #5f994c;
  --accent-color: #fbde65;
  --background-color: #ecf0f1;
  --link-color: #ecf0f1;
  --text-color: black;
}
